name: GitHub Pages Deploy

on:
  push:
    branches: ["main"] # adjust as needed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Configure Git author
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Build & Deploy  
        env:  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          REPO: ${{ github.repository }}  
        run: |  
          npm run build  
          git remote set-url origin "https://$$   {GITHUB_TOKEN}@github.com/   $${REPO}.git"  
          npx gh-pages -d dist -u "GitHub Actions <github-actions@github.com>" -b gh-pages  
